.Home {
  background: url(assets/before_login_background.png) no-repeat center center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.submit-container {
  display:flex; 
  justify-content: center;
  gap: 50px;
  margin: 60px auto;
  text-decoration: none;
  color: inherit;
}

.submit {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: white;
  background: #38B6FF; 
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.submit a {
  text-decoration: none;
  color: inherit;
}