
.hi {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: rgb(237, 233, 234);
    flex-direction: column;
    margin: auto;
    margin: 60px auto;
    padding-bottom: 30px;
    width: 600px;
    border-radius: 20px;
}
.main {
    font-size: 28px;
    color: #223b44;
    margin-bottom: 20px;
}

.res {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 20px;
}